body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;    
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #F9FAF8;
    margin-top: 0px;
    font-size: 24px;
    align-items: center;

}

.links {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    gap: 20px;
}

.intro {
    display: flex;
    background-color: #1f2937;
    height: 400px;
}

.intro-left {
    color: #F9FAF8;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.intro-text {
    height: 300px;
    width: 400px;
}

.main {
    font-size: 48px;
    font-weight: 800;
    margin: 0px;
    }

.sec {
    font-size: 18px;
    margin: 0px;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    height: 20px;
    width: 70px;
    border-radius: 5px;

}

.intro-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.firstimg {
    background-color: grey;
    height: 300px;
    width: 400px;
    text-align: center;
    line-height: 200px;
}

.info {
    display: flex;
    flex-direction: column;

}

.information {
    font-size: 36px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.info-image{
    background-color: grey;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

.feedback {
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
}

.word {
    height: 300px;
    width: 800px;
    font-size: 72px;
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;

}

.window {
    height:100px;
    width: 800px;
    display: flex;
    align-items: center;
    background-color: #3882F6;
    border-radius: 15px;
    justify-content: center;
    
}

.windowbox {
    height: 60;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: white;
}

.secbutton {
    font-size: 20px;
    height: 40px;
    width: 150px;
    border-radius: 15px;
    background-color: #F9FAF8;
    border: 2px;
    color: #3882F6;
    font-weight: 100;
}

.footer {
    background-color: #1f2937;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    color: #F9FAF8;
    height: 50px;
    line-height: 50px;

}